body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #111;
  color: white;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  background: white;
  color: black;
  text-decoration: none;
  margin-top: 15px;
  border-radius: 6px;
}

/* SECTIONS */
section {
  padding: 60px 40px;
  text-align: center;
}

.skills span {
  background: #eee;
  padding: 8px 15px;
  margin: 5px;
  display: inline-block;
  border-radius: 20px;
}

.project-card {
  border: 1px solid #ddd;
  padding: 20px;
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
}
